# Ignore macOS cache files
.DS_Store

# pycharm files
.idea/
pycache/
*.pyc

# Longman 2018 data files
data/Longman_2018_figshare/
data/jyj_2017_data/
data/SURFRAD/
data/asos*
data/cs_compare/
data/SURFRAD_raw/
data/train_df/
data/bsrn/
data/training_data.csv
data/tra.csv
data/val.csv
data/shp_files/
data/specific_figure/*
data/profiles/
data/hitran

randall_files

figures/

data/tab*.csv